@font-face {
	font-family: 'Dead Stock  Demo';
	src: url(../../assets/fonts/DeadStock.woff2) format('woff2'),
	url(../../assets/fonts/DeadStock.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}