@import url(https://fonts.google.com/specimen/Lobster?selection.family=Indie+Flower);

$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue: #0076a3;
$green: #548c27;
$Orange: #f39856;
$red: #d14348;
$purple: #6d73c2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;
$color-item-border: $red;
$color-media-head: $blue;

$font-main: 'Lobster', 'sans-serif';
$font-highlight: 'Lobster', 'sans-serif';